*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.root{
    --button-link-color:white;
    --link-bgcolor:#182327;
    --link-fontcolor:#182327;
    --color-h:#070707da;
    --h2-font-size:48px;
    --p-font-size:16px;

}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}


.container{
    max-width: 1440px;
    margin: auto;
    background: #FFF;
}


/*--  style for header section*/

.header-wraper{
    width: 1440px;
    height: 112px; 
}

.header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
       
}
.header-content svg{
    display: none;
}

.logo{
    width: 40px;
    height: 38px;
    flex-shrink: 0;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}
.navbar ul li a{
    color: #182327;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-right a{
    width: 107px;
    border-radius: 8px;
    background-color: #182327;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.user-img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

/*-- header end*/



/*-- style for hero section--*/

.hero-wraper{
    width: 1440px;
    height: auto;
    background-image: url("image/hero-bacground.png");
   
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
 
}

.hero-content h1{
    width: 570px;
    color: #182327;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px; 
    margin-top: 121px;
    margin-bottom: 20px;
}

.hero-content h1::after{
    
        content: url("image/full-bowl-crips.png");
}


.hero-content p{
    width: 570px;
    color: #182327;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 56px;
}

.hero-content a{
    width: 152px;
    height: 60px;
    border-radius: 8px;
    background-color: #182327;
    color: #FFF;
    text-align: center;
    padding: 10px;
    margin-top: 56px; 
    font-size: 18px; 
}


/*--styling for provide section--*/






.provide-wraper{
    width: 1440px;
    height: auto;
    position: relative;
}

.provide-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-left: 135px;
    margin-top: 150px;
}

.provide-content h2{
    width: 570px;
    color: #182327;
    font-family: Sentient;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; 
    margin-bottom: 70px;
}

.packet-img{
    width: 372px;
    height: 484px;
    border-radius: 7px;
    margin-top: 70px;
    background-color: #FFE9F4;
}

.chips-img{
    width: 333px;
    height: 145px;
    position: absolute;
    right: 0;
    top: 45px;
}

.provide-content h3{
    color: #182327;
    font-size: 22px;
}

.rating-svg{
    width: 114px;
    height: 18px;   
}

.provide-content p{
    color: #5D696D;
    font-size: 16px;
}


.provide-buttons{
    position: relative;
    top: 35px;
}
.pro-button1{
    width: 152px;
    height: 60px;
    border-radius: 8px;
    background-color: #182327;
    color: #FFF;
    text-align: center;
    padding: 10px;
    margin-top: 56px; 
    font-size: 18px; 
}





/*-- style for best and tasty crisps section --*/



.best-tasty-container{
    width: 1170px;
    margin-left: 135px;
    display: grid;
}

 .best-tasty-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    
}

.text {
    display: grid;
    justify-content: center;
    grid-column: 1/-1;
    margin-top: 170px;
    margin-bottom: 70px;
    text-align: center;
}

.text h3{
    color: #182327;
    width: 570px;
    /* H2 */
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 109.524% */
}
.text p{
    color: #5D696D;
    width: 570px;
    font-size: 18px;
}



/*--style for popular section--*/

.popular-container{
    width: 1440px;
    background-color: #FFF;
}

.popular-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.popular-content h2{
    margin-bottom: 70px;
}
/*-- style for comment section--*/

.comment-container{
    width: 1440px;
    height: auto;
    flex-shrink: 0;
    background-color: #80E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.comment-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 152px;
    margin-top: 70px;
}

.comment-content h2{
    width: 570px;
    color: #182327;
    font-family: Sentient;
    font-size: 42px;
}

.comment-content p{
    width: 570px;
    color: #182327;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 36px; 
}

.name h3{
    color: #182327;
    margin-top: 76px;
    font-family: Manrope;
    font-size: 22px;
}


.store-container{
    width: 1440px;
    height: 468px;
    background-image: url("image/store-section-bg.png");
    position: relative;
    

}

.store-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    position: absolute;
    top: 100px;
    left: 485px;
}

.store-content h2{
    width: 470px;
    color: #182327;
    font-size: 42px;
}

.store-content p{
    width: 470px;
    color: #182327;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
}

.store-content a{
    width: 152px;
    height: 60px;
    border-radius: 8px;
    background-color: #182327;
    color: #FFF;
    text-align: center;
    padding: 10px; 
    font-size: 18px;
}


.footer-container{
    width: 1440px;
    height: 648px;
    background: #FFF7E3;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    }

.footer-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.footer-nav ul li {
    margin:20px 0;
}
.footer-content h4{
    margin-bottom: 24px;
}

.footer-content p{
    margin-top: 24px;
}

.footer-img{
    margin-top: 100px;
}

@media screen and (max-width:375px) {

.container{
    padding:10px;
    }



   /*header*/

    .navbar{
        display: none;
    }

    .header-right{
        display: none;
    }

    .header-content{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 0 20px;
    }

    .header-content svg {
        display: block;
        width: 40px; 
        height: 38px; 
      }

      /* header end */



      /*hero start */
    
    .hero-content{
        display: flex;
        flex-direction:column-reverse;
        padding: 10px;
    }

    .hero-img{
        display: block;
    }

    .hero-text{
        display: block;
    }

    /* responsive for provide section */

    .provide-content{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .best-tasty-content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .popular-right{
        display: none;
    }

    .comment-content{
        flex-direction: column-reverse;
        height: auto;
    }
    .footer-content{
        display: flex;
        flex-direction: column-reverse;
    }


}